@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primaryGreen: #a6ff00;
  --color-secondaryGreen: #18274F;
  --color-thirdGreen: #F6FF00;
  --color-primaryBlue: #000435;
  --color-secondaryBlue: #000B28;
  --color-primaryGrey: #727272;
  --color-fontColor: #c7c7ff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
